header, footer{
    background-color: #94A684;
    padding: 15px;
}

body{
    background-color: #E4E4D0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2{
    color: #183D3D;
}

.lists{
    display: flex;
    border: dotted #183D3D 4px;
}

img{
    max-width: 150px;
    height: auto;
    margin:15px;
}

.experience{
    display:flex;
    flex-direction: column;
    margin: 15px;
}

.col{
    flex-basis: 50%;
}
a:hover{
    background-color: #FFEEF4;
}

